@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Bellefair&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Bellefair&display=swap");

:root {
  --heading1-font-desktop: 150px "Bellefair";
  --heading1-font-tablet: 150px "Bellefair";
  --heading1-font-mobile: 80px "Bellefair";

  --heading2-font-desktop: 100px "Bellefair";
  --heading2-font-tablet: 80px "Bellefair";
  --heading2-font-mobile: 56px "Bellefair";

  --heading3-font-desktop: 56px "Bellefair";
  --heading3-font-tablet: 40px "Bellefair";
  --heading3-font-mobile: 24px "Bellefair";

  --heading4-font-desktop: 32px "Bellefair";
  --heading4-font-tablet: 24px "Bellefair";
  --heading4-font-mobile: 16px "Bellefair";

  --heading5-font-desktop: 28px "Barlow Condensed";
  --heading5-font-tablet: 20px "Barlow Condensed";
  --heading5-font-mobile: 16px "Barlow Condensed";
  --heading5-spacing-desktop: 4.72px;
  --heading5-spacing-tablet: 3.38px;
  --heading5-spacing-mobile: 2.7px;

  --subheading1-font: 28px "Bellefair";
  
  --subheading2-font: 14px "Barlow Condensed";
  --subheading2-spacing: 2.36px;

  --navbar-font: 16px "Barlow Condensed";
  --navbar-font-tablet: 14px "Barlow Condensed";
  --navbar-font-mobile: 16px "Barlow Condensed";
  --navbar-spacing: 2.7px;
  --navbar-spacing-tablet: 2.36px;
  --navbar-spacing-mobile: 2.7px;
  
  --text-font-desktop: 18px "Barlow";
  --text-font-tablet: 16px "Barlow";
  --text-font-mobile: 15px "Barlow";

  --gray-color: #d0d6f9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  color: white;
  font: var(--text-font);

  /* border: 1px solid green; */
}

body {
  max-width: 100dvw;
  min-height: 100dvh;

  background-size: cover;
  background-repeat: no-repeat;
}

header {
  display: flex;
  align-items: center;
}

header nav {
  margin-left: auto;
  
  display: flex;

  background-color: rgba(255, 255, 255, 4%);
  backdrop-filter: blur(81.55px);
}

nav a {
  display: flex; 
  align-items: center;

  text-decoration: none;
}



@media (min-width: 1024px) and (orientation: landscape) {
  body {   
    background-image: url(assets/home/background-home-desktop.jpg);
  }

  header {
    padding: 40px 0 0 55px;
  }

  header > span {
    position: fixed;
    right: 800px;
    margin-left: auto;
    height: 1px;
    width: 473px;
    z-index: 1;
  
    background-color: rgba(255, 255, 255, 25.15%);
  }

  header nav {
    width: 830px;
    height: 96px;
    justify-content: center;
    gap: 48px;
  }

  nav a:hover {
    border-bottom: 3px solid rgba(255, 255, 255, 50.21%);
  }

  nav a {
    gap: 11px;

    font: var(--navbar-font);
    letter-spacing: var(--navbar-spacing);
  }

  nav a span {
    font-weight: bold;
  }
}

@media (min-width: 481px) and (max-width: 1024px) and (orientation: portrait) {
  body {
    background-image: url(assets/home/background-home-tablet.jpg);
  }

  header {
    padding: 0 0 0 39px;
    display: flex;
    align-items: center;
  }
  
  header > span {
    display: none;
  }

  header nav {
    width: 450px;
    height: 96px;
    justify-content: space-evenly;
  }

  nav a {
    font: var(--navbar-font-tablet);
    letter-spacing: var(--navbar-spacing-tablet);
  }

  nav a span {
    display: none;
  }
}

@media (max-width: 480px) {
  body {
    background-image: url(assets/home/background-home-mobile.jpg);
  }
}



/* 

picture:hover {
  cursor: pointer;
}
  
nav a:focus {
  border-bottom: 3px solid rgba(255, 255, 255, 50.21%);
}

main {
  

  display: flex;
  width: 100vw;
  height: calc(80%);
}

.left-section, .right-section-home {
  width: 50%;
  height: 100%;
}

.left-section {
  padding: 20vh 12vw;
}

.left-section span {
  font: var(--heading5-font);
  letter-spacing: var(--heading5-spacing);
  color: var(--gray-color);
}

.left-section h1 {
  font: var(--heading1-font)
}

.left-section p {
  font: var(--text-font);
  color: var(--gray-color);
}

.right-section-home {
  display: flex;
  align-items: center;
  justify-content: center;
}

.right-section-home a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 19vw;
  aspect-ratio: 1/1;
  border-radius: 50%;
  
  font: var(--heading4-font);
  color: black;
  text-decoration: none;

  background-color: white;
}

.right-section-home a:hover {
  box-shadow: 0 0 0 10vh rgba(255, 255, 255, 10.36%);

  transition: ease 0.5s;
} */





/* @media (max-width: 1280px) {
  body {
    width: 100vw;
    height: auto;

    background: url(assets/home/background-home-tablet.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }

  header {
    padding: 0 0 0 calc(3.8%);
  }

  header div {
    display: none;
  }

  nav a span {
    display: none;
  }

  main {
    padding-bottom: 5vh;

    display: grid;
    grid-template-rows: 1fr;
    gap: 100px;
  }

  .left-section, .right-section {
    width: 100%;
    text-align: center;
  }

  .left-section {
    padding: 7vh 24vw;
    display: grid;
    gap: 25px;
  }

  .right-section a {
    width: 304px;
  }

  .right-section a:hover {
    box-shadow: 0 0 0 5vh rgba(255, 255, 255, 10.36%);
  }
} */

/* @media (max-width: 480px) {
  body {
    width: 100vw;
    height: 100vh;
    background: url(assets/home/background-home-mobile.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }

  header {
    padding: 25px;
  }

  nav {
    display: none;
  }

  main {
    display: none;
  }
} */
