@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Bellefair&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Bellefair&display=swap");

:root {
  --heading1-font-desktop: 150px "Bellefair";
  --heading1-font-tablet: 150px "Bellefair";
  --heading1-font-mobile: 80px "Bellefair";

  --heading2-font-desktop: 100px "Bellefair";
  --heading2-font-tablet: 80px "Bellefair";
  --heading2-font-mobile: 56px "Bellefair";

  --heading3-font-desktop: 56px "Bellefair";
  --heading3-font-tablet: 40px "Bellefair";
  --heading3-font-mobile: 24px "Bellefair";

  --heading4-font-desktop: 32px "Bellefair";
  --heading4-font-tablet: 24px "Bellefair";
  --heading4-font-mobile: 16px "Bellefair";

  --heading5-font-desktop: 28px "Barlow Condensed";
  --heading5-font-tablet: 20px "Barlow Condensed";
  --heading5-font-mobile: 16px "Barlow Condensed";
  --heading5-spacing-desktop: 4.72px;
  --heading5-spacing-tablet: 3.38px;
  --heading5-spacing-mobile: 2.7px;

  --subheading1-font: 28px "Bellefair";
  
  --subheading2-font: 14px "Barlow Condensed";
  --subheading2-spacing: 2.36px;

  --navbar-font-desktop: 16px "Barlow Condensed";
  --navbar-font-tablet: 14px "Barlow Condensed";
  --navbar-font-mobile: 16px "Barlow Condensed";
  --navbar-spacing-desktop: 2.7px;
  --navbar-spacing-tablet: 2.36px;
  --navbar-spacing-mobile: 2.7px;
  
  --text-font-desktop: 18px "Barlow";
  --text-font-tablet: 16px "Barlow";
  --text-font-mobile: 15px "Barlow";

  --gray-color: #d0d6f9;
  --darkGray-color: #383B4B;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  color: white;
  font: var(--text-font);

  /* border: 1px solid green; */
}

body {
  max-width: 100dvw;
  min-height: 100dvh;

  background-size: cover;
  background-repeat: no-repeat;
}

.header {
  display: flex;
  align-items: center;
}

.header picture {
  width: 48px;
  height: 48px;
}

.header .navbar {
  margin-left: auto;
  display: flex;

  background-color: rgba(255, 255, 255, 4%);
  backdrop-filter: blur(81.55px);
}

.navbar a {
  display: flex; 
  align-items: center;

  text-decoration: none;
}

main {
  width: 100dvw;
}

@media (min-width: 1024px) and (orientation: landscape) {
  body {   
    background-image: url(assets/home/background-home-desktop.jpg);
  }

  .header {
    padding: 40px 0 0 55px;
  }

  .header > span {
    position: fixed;
    right: 800px;
    margin-left: auto;
    height: 1px;
    width: calc(100dvw - 967px);
    z-index: 1;
  
    background-color: rgba(255, 255, 255, 25.15%);
  }

  .header .navbar {
    width: 830px;
    height: 96px;
    justify-content: center;
    gap: 48px;
  }

  .navbar a:hover {
    border-bottom: 3px solid rgba(255, 255, 255, 50.21%);
    cursor: url('assets/shared/icon-cursor.svg'), auto;
  }

  .navbar a {
    gap: 11px;

    font: var(--navbar-font-desktop);
    letter-spacing: var(--navbar-spacing-desktop);
  }

  .navbar a span {
    font-weight: bold;
  }

  main {
    padding: 76px 165px 131px;
    display: flex;
    align-items: end;
    height: calc(100dvh - 136px);
  }
}

@media (min-width: 481px) and (max-width: 1024px) and (orientation: portrait){
  body {
    background-image: url(assets/home/background-home-tablet.jpg);
  }

  .header {
    padding: 0 0 0 39px;
    display: flex;
    align-items: center;
  }
  
  .header > span {
    display: none;
  }

  .header .navbar {
    width: 450px;
    height: 96px;
    justify-content: space-evenly;
  }

  .navbar a {
    font: var(--navbar-font-tablet);
    letter-spacing: var(--navbar-spacing-tablet);
  }

  .navbar a span {
    display: none;
  }

  main {
    display: grid;
    gap: 156px;
    padding: 106px 0 90px;
  }
}

@media (max-width: 480px) {
  body {
    background-image: url(assets/home/background-home-mobile.jpg);
  }

  .header picture {
    position: absolute;
    top: 24px;
    left: 24px;
  }

  .header > span {
    position: absolute;
    top: 33px;
    right: 24px;
    z-index: 5;

    width: 24px;
    height: 21px;
    background-image: url(assets/shared/icon-hamburger.svg);
    background-repeat: no-repeat;
  }

  .header .navbar {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 4;

    display: none;
    padding: 118px 0 60dvh 32px;
    align-items: center;
    width: 254px;
    height: 100dvh;
  }

  .navbar a {
    gap: 11px;
    height: 19px;

    font: var(--navbar-font-mobile);
    letter-spacing: var(--navbar-spacing-mobile);
  }

  main {
    display: grid;
    gap: 81px;
    padding: 112px 24px 0;
  }
}
