@media (min-width: 1024px) and (orientation: landscape) {
  .main {
    display: flex;
    width: 100%;
    gap: 157px;
    margin-bottom: -19px;
  }

  .left-section, .right-section {
    width: 50%;
  }

  .left-section {
    display: grid;
    gap: 97px;
    text-align: start;
  }

  .left-section h5 {
    font: var(--heading5-font-desktop);
    letter-spacing: var(--heading5-spacing-desktop);
  }

  .left-section h5 span {
    font-weight: bold;
    opacity: 25%;
  }

  .left-section picture {
    margin-left: auto;
    width: 445px;
    height: 445px;
  }

  .right-section {
    align-self: flex-end;

    display: grid;
    align-items: end;
    width: 445px;
    height: 472px;
  }

  .right-section nav {
    display: flex;
    gap: 36px;
  }

  .right-section nav a:hover {
    border-bottom: 1px solid rgba(255, 255, 255, 50%);
  }

  .right-section nav a {
    font: var(--navbar-font-desktop);
    text-decoration: none;
    color: var(--gray-color);
  }

  .right-section article h1 {
    font: var(--heading2-font-desktop)
  }

  .right-section article p {
    font: var(--text-font-desktop);
    color: var(--gray-color);
    line-height: 32px;
  }

  .right-section .line {
    width: 444px;
    height: 1px;
    background-color: var(--darkGray-color);
  }

  .right-section footer {
    display: flex;
    gap: 81px;
  }

  .right-section footer div {
    display: grid;
    gap: 11px;
  }

  .right-section footer p {
    font: var(--subheading2-font);
    letter-spacing: var(--subheading2-spacing);
    color: var(--gray-color);
  }

  .right-section footer span {
    font: var(--subheading1-font);
  }
}

@media (min-width: 481px) and (max-width: 1024px) and (orientation: portrait) {
  .main {
    margin-top: -66px;
    display: grid;
    width: 100%;
    gap: 53px;
  }

  .left-section, .right-section {
    width: 100%;
  }

  .left-section {
    padding: 0 38.5px 0;
    display: grid;
    gap: 60px;
  }

  .left-section h5 {
    font: var(--heading5-font-tablet);
    letter-spacing: var(--heading5-spacing-tablet);
  }

  .left-section h5 span {
    font-weight: bold;
    opacity: 25%;
  }

  .left-section picture {
    justify-self: center;
    width: 300px;
    height: 300px;
  }

  .left-section picture img {
    width: 100%;
    height: 100%;
  }

  .right-section {
    display: grid;
    justify-content: center;
    text-align: center;
  }

  .right-section nav {
    justify-self: center;
    display: flex;
    gap: 36px;
    margin-bottom: 32px;
  }

  .right-section nav a {
    font: var(--navbar-font-tablet);
    text-decoration: none;
    color: var(--gray-color);
  }

  .right-section article {
    text-align: center;
    width: 573px;
  }

  .right-section article h1 {
    font: var(--heading2-font-tablet)
  }

  .right-section article p {
    font: var(--text-font-tablet);
    color: var(--gray-color);
    line-height: 32px;
  }

  .right-section .line {
    margin: 49px 0 28px;
    width: 573px;
    height: 1px;
    background-color: var(--darkGray-color);
  }

  .right-section footer {
    display: flex;
    justify-content: space-evenly;
  }

  .right-section footer div {
    display: grid;
    gap: 12px;
  }

  .right-section footer p {
    font: var(--subheading2-font);
    letter-spacing: var(--subheading2-spacing);
    color: var(--gray-color);
  }

  .right-section footer span {
    font: var(--subheading1-font);
  }
}

@media (max-width: 480px) {
  .main {
    margin-top: -24px;
    display: grid;
    width: 100%;
    gap: 26px;
  }

  .left-section, .right-section {
    width: 100%;
  }

  .left-section {
    display: grid;
    gap: 32px;
    text-align: center;
  }

  .left-section h5 {
    font: var(--heading5-font-mobile);
    letter-spacing: var(--heading5-spacing-mobile);
  }

  .left-section h5 span {
    font-weight: bold;
    opacity: 25%;
  }

  .left-section picture {
    justify-self: center;
    width: 170px;
    height: 170px;
  }

  .left-section picture img {
    width: 100%;
    height: 100%;
  }

  .right-section {
    display: grid;
    justify-content: center;
    text-align: center;
  }

  .right-section nav {
    justify-self: center;
    display: flex;
    gap: 27px;
    margin-bottom: 20px;
  }

  .right-section nav a {
    font: var(--navbar-font-mobile);
    text-decoration: none;
    color: var(--gray-color);
  }

  .right-section article {
    text-align: center;
    width: 327px;
  }

  .right-section article h1 {
    font: var(--heading2-font-mobile)
  }

  .right-section article p {
    font: var(--text-font-mobile);
    color: var(--gray-color);
    line-height: 32px;
  }

  .right-section .line {
    margin: 32px 0;
    width: 327px;
    height: 1px;
    background-color: var(--darkGray-color);
  }

  .right-section footer {
    display: grid;
    justify-content: center;
    gap: 32px;
  }

  .right-section footer div {
    display: grid;
    text-align: center;
    gap: 12px;
  }

  .right-section footer p {
    font: var(--subheading2-font);
    letter-spacing: var(--subheading2-spacing);
    color: var(--gray-color);
  }

  .right-section footer span {
    font: var(--subheading1-font);
  }
}