@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Bellefair&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Bellefair&display=swap');

:root {
  --heading1-font: 150px 'Bellefair';
  --heading2-font: 100px 'Bellefair';
  --heading3-font: 56px 'Bellefair';
  --heading4-font: 32px 'Bellefair';
  --heading5-font: 28px 'Barlow Condensed';
  --heading5-spacing: 4.75px;
  --subheading1-font: 28px 'Bellefair';
  --subheading2-font: 14px 'Barlow Condensed';
  --subheading2-spacing: 2.35px;
  --navbar-font: 16px 'Barlow Condensed';
  --navbar-spacing: 2.7px;
  --text-font: 18px 'Barlow';

  --gray-color: #383b4b;
  --light-gray-color: #d0d6f9;
}

.left-section, .right-section {
  width: 50%;
  height: 100%;
}

.left-section {
  padding: 0 5vw 0 5vw;
  display: grid;
  justify-content: end;
  align-items: center;
  text-align: start;
}

.left-section div {
  font: var(--heading5-font);
  letter-spacing: var(--heading5-spacing);
}

.left-section div span {
  font-weight: bold;
  opacity: 25%;
}

.right-section {
  padding: 5vh 6vw 5vh 6vw;

  display: grid;
  text-align: start;
  justify-items: start;
}

.right-section > nav {
  width: 100%;
  display: flex;
  justify-content: start;

  gap: 4.58vw;
  /* height: 10.6vh; */

  background-color: transparent;
}

.right-section nav a {
  display: flex; 
  align-items: center;
  gap: 5.4px;
  height: 100%;

  font: var(--navbar-font);
  letter-spacing: var(--navbar-spacing);
  text-decoration: none;
}

.right-section h1 {
  font: var(--heading2-font)
}

.right-section p {
  font: var(--text-font);
  color: var(--light-gray-color);
  line-height: 32px;
}

.line {
  width: 90%;
  height: 1px;
  background-color: var(--gray-color);
}

.bottom-section {
  display: flex;
  width: 100%;
}

.distance, .travel-time {
  display: grid;
  gap: 10px;
  width: 50%;
  height: auto;
}

.distance p, .travel-time p{
  font: var(--subheading2-font);
  letter-spacing: var(--subheading2-spacing);
}

.distance span, .travel-time span {
  font: var(--subheading1-font);
}
